{% extends 'base.html.twig' %}


{% block title %}  DLR Portal Verfahren  {% endblock %}


{% block body %}


<h1 class="mt-5 mb-5">Ändern die Flurbereinigungsverfahren</h1>

{{ form_start(editForm) }}
{{ form_widget(editForm) }}

<button class="btn btn-success" >Ändern</button>

{{ form_end(editForm) }}


{% endblock %}