

{% block body %}
<h1>Hallo! Bitte best채tigen Sie Ihre E-Mail!</h1>

<p>
    Bitte best채tigen Sie Ihre E-Mail-Adresse, indem Sie auf den folgenden Link klicken: <br><br>
    <a href="{{ signedUrl|raw }}">Best채tigen Sie meine E-Mail</a>.
    Dieser Link verf채llt in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    
</p>
{% endblock %}