{% extends 'base.html.twig' %}

{% block title %}E-Mail zum Zurücksetzen des Kennworts gesendet{% endblock %}

{% block body %}
    <p>
        Es wurde eine E-Mail gesendet, die einen Link enthält, auf den Sie klicken können, um Ihr Passwort zurückzusetzen.
        Dieser Link verfällt in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Wenn Sie keine E-Mail erhalten, überprüfen Sie bitte Ihren Spam-Ordner oder <a href="{{ path('app_forgot_password_request') }}">erneut versuchen</a>.</p>
{% endblock %}
