{% extends 'base.html.twig' %}

{% block body %}
<h1>Hi!</h1>

<p>Um Ihr Passwort zurückzusetzen, besuchen Sie bitte den folgenden Link</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Dieser Link verfällt in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Cheers!</p>
{% endblock %}