{% extends 'base.html.twig' %}

{% block title %}Hello KontaktController!{% endblock %}

{% block body %}


<address>
<p>Fischerstraße 12
67655 Kaiserslautern</p><br>
  
</address>
<a href="dlr-westpfalz@dlr.rlp.de">dlr-westpfalz@dlr.rlp.de</a><br>
  Telefon <a href="0631 3674-0">0631 3674-0</a><br>
  Telefax <a href="0631 3674-255">0631 3674-255</a><br>
  <a href="www.dlr-westpfalz.rlp.de">www.dlr-westpfalz.rlp.de</a><br>
{% endblock %}
